<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<title>ユーザー一覧</title><!--タイトル表示-->
	<!-- 個別CSS読込 -->
	<link rel="stylesheet" th:href="@{/css/user/list.css}"><!--linkは rel sytylesheetはHTMLの外部CSS読込タグ。th:hrefは-Tymeleaf式の静的リソース/css/user/list.cssのURLに解決される。-->
</head>

<body>
	<div layout:fragment="content"><!--tyhmereafのレイアウトを使用している-->
		<div class="header border-bottom"><!--ユーティリティクラスのboder-bottomを使用-->
			<h1 class="h2">ユーザー一覧画面</h1><!--h1の大きで「ユーザー一覧画面」を表示-->
		</div>
		<!-- 検索 -->
		<div class="mb-4">
			<form id="user-search-form" method="post" th:action="@{/user/list}" class="form-inline" th:object="${userListForm}"><!--フォーム開始。Postで/userlistに送信。th:objectでフォームの入力先オブジェクトをuserListFormに紐付ける。-->
				<div class="form-group">
					<label for="userId" class="mr-2">ユーザーID</label><!--inputのidと紐づく、「th:field」でidが付く-->
					<input type="text" class="form-control" th:field="*{userId}"/><!--送信するとuserIdがPOSTデッ送信され、SpringによってUserListForm.userIdに詰められる。-->
				</div>
				<div class="form-group mx-sm-3">
					<label for="userName" class="mr-2">ユーザー名</label><!--userIdと同じ-->
					<input type="text" class="form-control" th:field="*{userName}"/>
				</div>
				<button class="btn btn-primary" type="submit">検索</button><!--検索ボタン。おすと上のフォームが送信される-->
			</form>
		</div>		
		<!-- 一覧表示 -->
		<div>
			<table class="table table-striped table-bordered table-hover">
				<thead class="thead-light"><!--theadはテーブルヘッダーといい、見出しですよの合図-->
					<tr><!--行開始-->
						<th class="th-width">ユーザーID</th><!--列-->
						<th class="th-width">ユーザー名</th><!--列-->
						<th class="th-width">誕生日</th><!--列-->
						<th class="th-width">年齢</th><!--列-->
						<th class="th-width">性別</th><!--列-->
						<th></th><!--見出しなし。ボタンの列だから見出しいらない-->
					</tr>
				</thead>
				<tbody>
					<tr th:each="item: ${userList}"><!--Controllerがmodelに入れた一覧を1件ずつ回して行を作る-->
						<td th:text="${item.userId}"></td><!--列にControllerがmodelに入れたuserIdを持ってきて表示する-->
						<td th:text="${item.userName}"></td><!--上に同じ-->
						<td th:text="${#dates.format(item.birthday, 'YYYY/MM/dd')}"></td><!--上に同じ。フォーマットがあるためYYYY/MM/ddの形で表示される-->
						<td th:text="${item.age}"></td><!--２個上に同じ-->
						<td th:text="${item.gender == 1} ? '男性': '女性'"></td><!--性別が1なら男性、そうでなければ女性という形で表示される。-->
						<td>
							<a class="btn btn-primary" th:href="@{'/user/detail/' + ${item.userId}}">詳細</a><!--リンクボタンだが、末尾にユーザー名が追加される。-->
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>