<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<title>Error</title>
	</head>
	<body>
		<h1 th:text="${status} + '' + ${error}"></h1><!--statusには４０４や５０５などerrorにはエラー名が入る-->
		<p th:text="${message}"></p><!--Controllerで設定してたmodel.addAttribute("message", "SignupControllerで例外が発生しました");の部分が呼び出される-->
		<p>ログイン画面に戻ってください</p>
		<form method="post" th:action="@{/logout}"><!--ログアウトさせてる-->
			<button class="btn btn-link" type="submit">ログイン画面に戻る</button><!--ボタン設定-->
		</form>
	</body>
</html>